button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button:active {
    transform: scale(0.95);
}

button:hover{
    transform: scale(1.02);
}

.main-simulation-form{
    margin: 10px;
    padding: 10px;
    max-height: 500px;
    width: auto;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: stretch;
}

.general-parameters{
    margin:10px;
    padding:0px 10px;
    height: auto;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submit-simulation{
    width: auto;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid #bdb8ad;
    background-color: #ebe7e0;
    font-weight: bold;
}

.nombre-estadistico{
    text-decoration: underline solid black;
}

.estadistico-title{
    font-weight: bold;
}
.estadisticos-ensambladores{
    margin: 5px 0px;
    border-top: solid 1px;
}

.error{
    color: red;
}